.form-group2 {

    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 10%;
    
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: 600;
    color: #000;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
  }
  
  .btn {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #0a66c2;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #094c8c;
  }
  .login-container{
    background: url(http://localhost:82/bg-image2.avif);
    background-repeat: no-repeat;
    background-size: cover;
    height: 95vh;
    width: 95vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
  
  