<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gateway Hospitals</title>
  <link rel="stylesheet" href="homepage.component.css">
</head>
<body>
  <header>
    <div class="header-container">
      <p>Gateway Hospitals</p>
      <div class="logo">
        <img src="http://localhost:82/logo.png" alt="Prashanth Hospitals Logo">
      </div>
      <div class="header-contact">
        <div class="contact-number">
          <span>Contact: +91 8756783452</span>
        </div>
      </div>
    </div>
  </header>

  <section class="hero-section">
    <div class="hero-container">
      <div class="hero-content">
        <h1>Book an Appointment</h1>
        <p>Get the best healthcare services</p>
        <a href="mainpage" class="btn">Book Now</a>
      </div>
    </div>
  </section>

  <section class="services-section">
    <div class="services-container">
      <div class="service">
        <img src="http://localhost:82/speciality.png" alt="Service Icon 1">
        <h2>Medical Specialities</h2>
        <p>Explore our wide range of medical specialities and expert doctors.</p>
        <a href="#" class="btn" >Learn More</a>
      </div>
      <div class="service">
        <img src="http://localhost:82/quality.jpg" alt="Service Icon 2">
        <h2>Quality Care</h2>
        <p>Experience our commitment to providing quality healthcare services.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
      <div class="service">
        <img src="http://localhost:82/advanced.jpg" alt="Service Icon 3">
        <h2>Advanced Technology</h2>
        <p>Benefit from our state-of-the-art infrastructure and technology.</p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </section>

  <footer>
    <div class="footer-container">
      <p>&copy; 2023 Gateway Hospitals. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
