<form (ngSubmit)="register()">
    <div>
      <label for="date">Date</label>
      <input type="text" id="date" [(ngModel)]="rdate" readonly>
    </div>
  
    <div>
      <label for="doctor">Doctor Name</label>
      <select id="doctor" [(ngModel)]="rdoctor">
        <option *ngFor="let doc of doctors" [value]="doc">{{ doc }}</option>
      </select>
    </div>
  
    <div>
      <label for="details">Additional Details</label>
      <textarea id="details" [(ngModel)]="rdetails"></textarea>
    </div>
  
    <!-- Other form fields -->
  
    <button type="submit">Submit</button>
  </form>
  

<!-- <form (ngSubmit)="register()">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [value]="date" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker style="width: 100px;"></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Doctor Name</mat-label>
      <mat-select [(value)]="doctor">
        <mat-option *ngFor="let doc of doctors" [value]="doc">{{ doc }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Additional Details</mat-label>
      <textarea [value]="details"></textarea>
    </mat-form-field>
  
     Other form fields -->
<!--   
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </form>
   -->


<!-- <form (ngSubmit)="register()">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="date" readonly>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker style="width: 100px;"></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Doctor Name</mat-label>
      <mat-select [(ngModel)]="doctor">
        <mat-option *ngFor="let doc of doctors" [value]="doc">{{ doc }}</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Additional Details</mat-label>
      <textarea [(ngModel)]="details"></textarea>
    </mat-form-field>
   -->
    <!-- Other form fields -->
  
    <!-- <button mat-raised-button color="primary" type="submit">Submit</button>
  </form> -->
  
 
